global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  # Prometheus itself
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  # API service
  - job_name: 'sensor-api'
    static_configs:
      - targets: ['api:8000']
    metrics_path: '/metrics'
    scrape_interval: 5s

  # Kafka
  - job_name: 'kafka'
    static_configs:
      - targets: ['kafka:9101']

  # Spark Master
  - job_name: 'spark-master'
    static_configs:
      - targets: ['spark-master:8080']

  # Spark Worker
  - job_name: 'spark-worker'
    static_configs:
      - targets: ['spark-worker:8081']

  # HDFS NameNode
  - job_name: 'hdfs-namenode'
    static_configs:
      - targets: ['namenode:9870']

  # HDFS DataNode
  - job_name: 'hdfs-datanode'
    static_configs:
      - targets: ['datanode:9864']
